h1 {
    color: black;
    font-size: 42px;
    text-align: left;
  }

h2 {
    color: purple;
    text-align: left;
}

img {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px black;
    display: block;
  }

p {
    font-size: 14px;
    font-weight: normal;
}

#email {
    color: black;
    font-weight: bold;
}

.text-one-font{
    font-family: 'Roboto', sans-serif;
}
.text-two-font{
    font-family: 'Montserrat', sans-serif;
}